html {
  height: 100%;
  width: 100%;
  background-color: #ec795d;
}

#app {
  font-family: 'Comfortaa', cursive;
}

.num-in-front {
  position: absolute;
  left: 0;
  top: 50px;
}

.est-time {
  position: absolute;
  left: 0;
  top: 120px;
}

.num-in-front,
.est-time {
  background-color: #e6e1db;
  height: 50px;
  width: 500px;
  -moz-border-radius: 30px;
	-webkit-border-radius: 30px;
  border-top-left-radius: 100%0px;
  border-bottom-left-radius: 100%0px;
}

.num-in-front-text,
.est-time-text {
  font-weight: bold;
  font-size: 28px;
  color: #545a5b;
  padding-left: 28px;
  padding-top: 8px;
}

.loading {
}

.queue-animation {
}

.ticket-machine {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50px;
  background-color: #628489;
  -moz-border-radius: 30px;
	-webkit-border-radius: 30px;
  border-bottom-left-radius: 100%0px;
  border-bottom-right-radius: 100%0px;
}

.ticket-machine-slot {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 50px;
  background-color: #545a5b;
  -moz-border-radius: 30px;
	-webkit-border-radius: 30px;
  border-bottom-left-radius: 100%0px;
  border-bottom-right-radius: 100%0px;
}

.ticket-machine-slot-hole {
  position: absolute;
  bottom: 12.5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 25px;
  background-color: #cac9c9;
  -moz-border-radius: 30px;
	-webkit-border-radius: 30px;
  border-radius: 30px;
}

.get-ticket-button {
  margin-top: 7.5px;
  height: 40px;
  width: 100%;
  background-color: #537074;
  -moz-border-radius: 30px;
	-webkit-border-radius: 30px;
  border-bottom-left-radius: 100%0px;
  border-bottom-right-radius: 100%0px;
  border-color: transparent;
}

.get-ticket-button:hover {
  border-style: solid;
  border-top-color: #57777c;
}

.get-ticket-button:active {
  border-style: solid;
  border-top-color: #257580;
}

.get-ticket-text {
  font-family: 'Comfortaa', cursive;
  color: #cac9c9;
  font-size: 24px;
}

.ticket {
  display: block;
  position: absolute;
  bottom: 75px;
  left: 25%;
  width: 50%;
  height: 236px;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  background: #e6e1db;
  text-decoration: none;
}

.ticket:before {
  content: " ";
  display: block;
  position: relative;
  bottom: 0px
  left: 0px;
  width: 100%;
  height: 36px;
  background: linear-gradient(#ec795d 0%, transparent 0%), linear-gradient(135deg, #e6e1db 33.33%, transparent 33.33%) 0 0%, #e6e1db linear-gradient(45deg, #e6e1db 33.33%, #ec795d 33.33%) 0 0%;
  background: -webkit-linear-gradient(#ec795d 0%, transparent 0%), -webkit-linear-gradient(135deg, #e6e1db 33.33%, transparent 33.33%) 0 0%, #e6e1db -webkit-linear-gradient(45deg, #e6e1db 33.33%, #ec795d 33.33%) 0 0%;
  background: -o-linear-gradient(#ec795d 0%, transparent 0%), -o-linear-gradient(135deg, #e6e1db 33.33%, transparent 33.33%) 0 0%, #e6e1db -o-linear-gradient(45deg, #e6e1db 33.33%, #ec795d 33.33%) 0 0%;
  background: -moz-linear-gradient(#ec795d 0%, transparent 0%), -moz-linear-gradient(135deg, #e6e1db 33.33%, transparent 33.33%) 0 0%, #e6e1db -moz-linear-gradient(45deg, #e6e1db 33.33%, #ec795d 33.33%) 0 0%;
  background-repeat: repeat-x;
  background-size: 0px 100%, 9px 27px, 9px 27px;
}

.ticket label {
  color: #545a5b;
  font-size: 30px;
}
